.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 1000;
    font-style: normal;
}

.jost-regualar {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Julius Sans One", "Jost", sans-serif;
}

/* regular declarations */

body {
    min-height: 210vh;
    width: auto;
    overflow-x: hidden;
}

.navbar {
    transition: all 0.5s;
}

.nav-item {
    padding: 1%;
    left: 0;
}

.navbar-nav {
    margin-left: 59%;
}

.navbar-brand {
    margin-left: 1%;
}

.navbar-logo {
    width: 100px;
    height: 100px;
    padding: .5%;
    margin-left: 2.5%;
}

.smart-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.container .heading {
    width: 50%;
    padding-bottom: 50px;
}

.container .heading h3 {
    font-size: 3em;
    font-weight: bolder;
}

.container .heading h3 span {
    font-weight: 100;
    font-family: "Jost", sans-serif;
}


.fadeInUp-animation {
    animation: 1.5s fadeInUp;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}


.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95vw;
}

.container .box .dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .box .dream img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}

.container .btn{
    margin: 40px 0 70px 0;
    background: #222;
    padding: 15px 40px;
    border-radius: 5px;
}

.container .btn a{
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 3px;
}

@media only screen and (max-width: 769px){
    .container .box {
        flex-direction: column;
    }

    .contianer .box .dream{
        width: 100%;
    }
}


@media screen and (max-width:1600px) {
    body {
        min-height: 210vh;
        overflow-x: hidden;
    }


    .navbar {
        transition: all 0.5s;
    }

    .nav-item {
        padding: 1%;
        left: 0;
    }

    .navbar-nav {
        margin-left: 44%;
    }

    .navbar-brand {
        margin-left: 1%;
    }

    .navbar-logo {
        width: 100px;
        height: 100px;
        padding: .5%;
        margin-left: 2.5%;
    }

    .smart-scroll {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .scrolled-down {
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out;
    }

    .scrolled-up {
        transform: translateY(0);
        transition: all 0.3s ease-in-out;
    }

    .p {
        font-family: "Jost", sans-serif;
        color: #000;
        font-size: 16px;
        float: right;
        margin-top: 15px;
    }

}

@media only screen and (max-width : 375px) and (max-height : 812px) and (-webkit-device-pixel-ratio : 3) {

  
}

@media only screen and (max-width: 768px) {

    .navbar {
        transition: all 0.5s;
    }

    .nav-item {
        padding: 1%;
        left: 0;
    }

    .navbar-nav {
        margin-left: 44%;
    }

    .navbar-brand {
        margin-left: 1%;
    }

    .navbar-logo {
        width: 100px;
        height: 100px;
        padding: .5%;
        margin-left: 2.5%;
    }

    .smart-scroll {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .scrolled-down {
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out;
    }

    .scrolled-up {
        transform: translateY(0);
        transition: all 0.3s ease-in-out;
    }

    .p {
        font-family: "Jost", sans-serif;
        color: #000;
        font-size: 16px;
        float: right;
        margin-top: 15px;
    }


}