.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.jost-regualar {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: "Julius Sans One", "Jost", sans-serif;
}

.dropbtn{
    background-color: #BACDF2;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown:hover .dropbtn {
    background: rgb(86, 118, 176);
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #BACDF2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
}

.dropdown-content a:hover{
    color: #fff;
}

.dropdown:hover .dropdown-content{
    display:block;
}

.navbar{
    height: 80px;
    background: #BACDF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.logo {
    color: #000;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    margin-right: 80px;
    margin-bottom: 30px;
    justify-content: center
}

.site-logo {
    float: left;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 40px;
    margin-top: 25px;
}

.logo-label{
    top: 50%;
    left: 50%;
    float: right;
    margin-left: 10px;
    margin-top: 25px;
}

.logo-dscp {
    top: 50%;
    left: 50%;
    font-size: 12px;
    font-family: "Jost", sans-serif;
    margin-left: 0px;
}


.navbar a{
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
}

.navbar a:hover{
    color: #fff;
}

.hero{
    background: #fff;
}

.container{
    display: flex;
}

.events-content{
    display: grid;
    height: auto;;
}

.team-building{
    font-family: "Julius Sans One", sans-serif;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 40px;
}

.comm-descp{
    font-family: "Jost", sans-serif;;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.event h1{
    font-family: "Julius Sans One", sans-serif;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.event .date{
    font-family: "Jost", sans-serif;;
    font-size: 15px;
    margin-top: 3px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
}

.event .desc{
    font-family: "Jost", sans-serif;;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
}

.gallery1{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 10px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 40px;
}

.gallery1__item--1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 8;
}

.gallery2{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 10px;
}

.gallery2__item--1{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 5;
}

.gallery2__item--3{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 8;
}

.gallery2__item--2{
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 8;
}

.gallery3{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.gallery3__item--1{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 8;
}

.gallery4{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.gallery4__item--1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 8;
}

.gallery4__item--2{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 8;
}

.gallery5{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.gallery5__item--1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 8;
}

.gallery5__item--2{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 8;
}

.gallery6{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 5vw);
    grid-gap: 10px;
}

.gallery6__item--1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 8;
}

.gallery7{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}
.gallery7__item--1{
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery7__item--2{
    grid-column-start:3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery7__item--3{
    grid-column-start:5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery7__item--4{
    grid-column-start:1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery7__item--5{
    grid-column-start:1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery7__item--6{
    grid-column-start:5;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 9;
}


.footer{
    background-color: #BACDF2;
    font-size: 16px;
    text-transform: none;
    letter-spacing: normal;
    display: flex;
    unicode-bidi: isolate;
    box-sizing: inherit;
    margin-top: 60px;
    height: 7rem;
}

.all-container{
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    font-size: 16px;
}

.signature-logo-date-container{
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.top-grid-cell{
    flex-grow: 3;
    flex-basis: 100%;
    flex-shrink: 1;
    box-sizing: border-box;
    padding-left: 0px;
    padding-bottom:0px;
    padding-right: 0px;
    padding-right: 0px;
    padding-top: 10px;
    max-width: 100%;
    font-size: 16px;
}

.footer-details{
    color: black;
    line-height: 1.5;
    font-weight: 400px;
    font-size: 14px;
    word-wrap: break-word;
    text-align: center;
}

.footer-details p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.bottom-grid-cell{
    flex-grow: 3;
    flex-basis: 100%;
    flex-shrink: 1;
    box-sizing: border-box;
    padding-left: 0px;
    padding-bottom:10px;
    padding-right: 0px;
    padding-right: 0px;
    padding-top: 0px;
    max-width: 100%;
    font-size: 16px;
}

.footer-date{
    color: black;
    line-height: 1.5;
    font-weight: 400px;
    font-size: 14px;
    word-wrap: break-word;
    text-align: center;
}

.footer-date p{
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


@media screen and (max-width: 768px){
    .events-content{
        grid-template-columns: 1fr;
    }

    .footer{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}