.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 1000;
    font-style: normal;
}

.jost-regualar {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/* regular declarations */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Julius Sans One", "Jost", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    min-height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background: white !important;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

.full-wrapper {
    width: 100%;
}

.navbar {
    transition: all 0.5s;
}

.container-fluid {
    justify-content: space-between;
}

.nav-item {
    padding: 1%;
    left: 0;
}

.navbar-nav {
    margin: 0;
    justify-content: flex-end;
    width: 100%;
}

.navbar-brand a {
    margin: 0;
    width: 100%;
}

.navbar-logo {
    width: 12%;
    height: 12%;
    padding: .5%;
    display: inline-block;
}

.navbar span {
    width: 100%;
}

.smart-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.container .heading {
    width: 50%;
    padding-bottom: 50px;
}

.container .heading h3 {
    font-size: 3em;
    font-weight: bolder;
}

.container .heading h3 span {
    font-weight: 100;
    font-family: "Jost", sans-serif;
}


.fadeInUp-animation {
    animation: 1.5s fadeInUp;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}


.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95vw;
}

.container .box .dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .box .dream img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}

.container .btn{
    margin: 40px 0 70px 0;
    background: #222;
    padding: 15px 40px;
    border-radius: 5px;
}

.container .btn a{
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 3px;
}

@media  screen and (max-width : 500px) {

    .navbar-toggler{
        width: 10%;
    }
    
    .navbar-nav{
        text-align: right;
    }

    .nav-item{
        right: 100%;
    }

    .navbar-collapse{
        background: white;
    }
    

    .navbar-brand{
        width: 80%;
    }

    .navbar-toggler {
        display: inline-block;
    }

    .navbar span {
        width: 100%;
        font-size: 15px;
        align-items: center;
    }

    .navbar-logo{
        width: 15%;
        height:15%;
    }

    .container .heading h3 {
        font-size: 1.5em;
        font-weight: bolder;
    }
    
    .container .heading h3 span {
        font-weight: 100;
        font-family: "Jost", sans-serif;
    }
    .contianer .box .dream{
        width: 100% !important;
    }

    .container .box .dream img{
        width: 100% !important;
    }
  
}


