.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 1000;
    font-style: normal;
}

.jost-regualar {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Julius Sans One", "Jost", sans-serif;
}

/* :root {
    --navbar-bg-color: hsl(0, 0%, 15%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
}

.container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    --navbar-height: 80px;
    position: flex;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.navbarcontainer {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navbar-item {
    margin: 0.4rem;
    width: 100%;
}

.home-link,
.navbar-link {
    color: var(--navbar-text-color);
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
}

.home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
}

.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
    margin-top: 20px;
}

.navbar-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
}

.navbar-logo {
    background-color: var(--navbar-text-color-focus);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
}

#navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    background-color: var(--navbar-text-color);
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
    background-color: var(--navbar-text-color-focus);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
    transform: rotate(-45deg);
}

#navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
}

#navbar-toggle[aria-expanded="true"]+#navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
}

.navbar-links {
    list-style: none;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"]+#navbar-menu .navbar-links {
    padding: 1em;
}

@media screen and (min-width: 768px) {

    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
        display: none;
    }

    #navbar-menu,
    #navbar-toggle[aria-expanded="true"] #navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    .navbar-links,
    #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
} */

.dropbtn {
    background-color: #faad4e;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown:hover .dropbtn {
    background: #fad24e;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFBD6F;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
}

.dropdown-content a:hover {
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.navbar {
    height: 160px;
    background: #faad4e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    z-index: 10;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    margin-right: 80px;
    margin-bottom: 30px;
    justify-content: center
}

.site-logo {
    float: left;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 40px;
    margin-top: 25px;
}

.logo-label {
    top: 50%;
    left: 50%;
    float: right;
    margin-left: 10px;
    margin-top: 25px;
}

.logo-dscp {
    top: 50%;
    left: 50%;
    font-size: 12px;
    font-family: "Jost", sans-serif;
    margin-left: 0px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
}

.navbar a:hover {
    color: #fff;
}


.p {
    font-family: "Jost", sans-serif;
    color: #000;
    font-size: 16px;
    float: right;
    margin-top: 15px;
}


.container {
    display: relative;
    z-index: 0;
}


#button1 {
    margin-top: 20px;
    border-radius: 70px;
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;
    color: white;
    background: #faad4e;
    cursor: pointer;
    display: block;
    margin: auto;
    letter-spacing: 6px;
    
}


h1 {
    font-family: "Julius Sans One", sans-serif;
    font-size: 100px;
}

h3 {
    font-family: "Julius Sans One", sans-serif;
    font-size: 16px;
}

h4 {
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-style: normal;
}

#lab-name {
    margin: auto;
    padding: 2rem;
    align-content: center;
    justify-content: center;
    height: 70vh;
    background-color: lightyellow;
    position: relative;
}

#what-we-study{
    margin: auto;
    padding: 2rem;
    align-content: center;
    justify-content: center;
    height: 70vh;
    background-color: white;
    position: relative;
}

.study-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.lab-name-container {
    position: absolute;
    z-index: 0;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.study-content h1{
    text-align: center;
    letter-spacing: 2px;
    font-size: 50px;
    margin-bottom: 50px;
}

.study-content p{
    text-align: center;
    font-family: "Jost", sans-serif;
    line-height: 2rem;
    font-size: 20px;
    margin-top:20px;
}

.three-items{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: center;
    width: 100%;
    position: absolute;
}

.item img{
    margin: auto;
    display: flex;
    margin-top: 30px;
}

.item h3{
    text-align-last: center;
    letter-spacing: 2px;
}

.item p{
    text-align: center;
    font-family: "Jost", sans-serif;
    font-size: 16px;
}

.lab-name-content h3{
    text-align-last: center;
    letter-spacing: 2px;
}

.lab-name-content h1{
    letter-spacing: 5px;
}

.lab-name-content h4{
    letter-spacing: 2px;
    text-align-last: center;
}

.lab-name-content img{
    margin: auto;
    display: flex;
}

.button1:hover {
    background: #fad24e;
    color: #fff;
}

#button2 {
    margin-top: 10px;
    border-radius: 50%;
    padding: 1rem 1rem;
    font-size: 1rem;
    border: 1px solid black;
    color: black;
    background: white;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    bottom: -8rem;
}

.button2:hover {
    background: #fad24e;
    color: #fff;
}

#how-we-do-it{
    margin: auto;
    padding: 2rem;
    align-content: center;
    justify-content: center;
    height: 70vh;
    background-color: white;
    position: relative;
    background-color:#faad4e;
}

.how-it-container{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-how-it{
    font-size: 50px;
    transform: translate(-50%,-200%);
    margin-left: 6rem;
    letter-spacing: 2px;
    margin-bottom: 50px;
    color: white;
}

.five-items{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5rem;
    width: 110%;
    position:relative;
    align-items: left;
}

.oneitem img{
    margin: auto;
    display: absolute;
    margin-top: 30px;
    align-items: left;
}

.oneitem h2{
    text-align: left;
    letter-spacing: 2px;
    color: white
}

.oneitem p{
    text-align: left;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    color: white
}

#button3 {
    margin-top: 10px;
    border-radius: 50%;
    padding: 1rem 1rem;
    font-size: 1rem;
    border: 1px solid white;
    color: white;
    background: #faad4e;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    right: -2rem;
}

.button3:hover {
    background: #fad24e;
    color: #fff;
}

.footer {
    background-color: #faad4e;
    font-size: 16px;
    text-transform: none;
    letter-spacing: normal;
    display: flex;
    unicode-bidi: isolate;
    box-sizing: inherit;
    margin-top: 60px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.all-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    font-size: 16px;
}

.signature-logo-date-container {
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.top-grid-cell {
    flex-grow: 3;
    flex-basis: 100%;
    flex-shrink: 1;
    box-sizing: border-box;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-right: 0px;
    padding-top: 10px;
    max-width: 100%;
    font-size: 16px;
}

.footer-details {
    color: white;
    line-height: 1.5;
    font-weight: 400px;
    font-size: 14px;
    word-wrap: break-word;
    text-align: center;
}

.footer-details p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.bottom-grid-cell {
    flex-grow: 3;
    flex-basis: 100%;
    flex-shrink: 1;
    box-sizing: border-box;
    padding-left: 0px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-right: 0px;
    padding-top: 0px;
    max-width: 100%;
    font-size: 16px;
}

.middle-grid-cell img {
    display: flex;
    margin-top: 15px;
    margin-left: 85px;
}

.footer-date {
    color: white;
    line-height: 1.5;
    font-weight: 400px;
    font-size: 14px;
    word-wrap: break-word;
    text-align: center;
}

.footer-date p {
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

@media screen and (max-width:768px) {
    .hero-container {
        grid-template-columns: 1fr;
    }

    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }

}