.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 1000;
    font-style: normal;
}

.jost-regualar {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Julius Sans One", "Jost", sans-serif;
}

body {
    min-height: 210vh;
    overflow-x: hidden;
}

#myVideo {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 210vh;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.6);
}

.navbar {
    transition: all 0.5s;
}

.nav-item {
    padding: 1%;
    left: 0;
}

.navbar-nav {
    margin-left: 44%;
}

.navbar-brand {
    margin-left: 1%;
}

.navbar-logo {
    width: 100px;
    height: 100px;
    padding: .5%;
    margin-left: 2.5%;
}

.smart-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.p {
    font-family: "Jost", sans-serif;
    color: #000;
    font-size: 16px;
    float: right;
    margin-top: 15px;
}

#button1 {
    top: 50%;
    bottom: 0;
    border-radius: 70px;
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;
    color: white;
    background: #000000;
    cursor: pointer;
    display: block;
    margin: auto;
    letter-spacing: 6px;

}


#lab-name {
    align-items: center;
    justify-content: center;
    left: -3%;
}

.lab-name-content h1 {
    font-family: "Julius Sans One", sans-serif;
    font-size: calc(1vw + 1vh);
}

.lab-name-content h3 {
    font-family: "Julius Sans One", sans-serif;
    font-size: calc(1vw + 1vh);
}

.lab-name-content h4 {
    font-family: "Jost", sans-serif;
    margin-bottom: 2%;
    font-size: calc(1vw + 1vh);
    font-style: normal;
}

#lab-name {
    margin: auto;
    padding: 2rem;
    width: 100%;
    max-height: 75vh;
    align-content: center;
    justify-content: center;
    position: absolute;
}

.lab-name-container {
    margin: auto;
    align-content: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.lab-name-content {
    color: white;
    align-content: center;
    justify-content: center;
    position: absolute;
    left: 2%;
    top: 100%;
    width: 100%;
    height: 100%;
}

#what-we-study {
    justify-content: left;
    top: 100vh;
    width: 210vh;
    height: 115vh;
    background: linear-gradient(224deg, #eee5d3 20%, #fffaf4 81.18%);
    position: absolute;
}


.study-container {
    position: absolute;
    top: 10%;
    justify-content: left;
    align-items: left;
    margin-right: 8%;
    margin-left: 5%;
}

.study-content h1 {
    text-align: left;
    letter-spacing: 2px;
    font-size: 50px;
    margin-bottom: 50px;
}

.study-content p {
    text-align: left;
    font-family: "Jost", sans-serif;
    line-height: 2rem;
    margin-right: 50%;
    font-size: 20px;
    margin-top: 20px;
}

.three-items {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: center;
    width: 100%;
    position: absolute;
}

.item img {
    margin: auto;
    display: flex;
    margin-top: 30px;
}

.item h3 {
    text-align-last: center;
    letter-spacing: 2px;
}

.item p {
    text-align: center;
    font-family: "Jost", sans-serif;
    font-size: 16px;
}

#button2 {
    margin-top: 10px;
    border-radius: 50%;
    padding: 1rem 1rem;
    font-size: 1rem;
    border: 1px solid black;
    color: black;
    background: white;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    bottom: -8rem;
}


.fadeInUp-animation {
    animation: 1.5s fadeInUp;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}


.lab-name-content h3 {
    text-align-last: center;
    letter-spacing: 2px;
    /* position:absolute; */
}

.lab-name-content h1 {
    letter-spacing: 5px;
    font-size: 60px;
    text-align-last: center;
    /* position:absolute; */
}

.lab-name-content h4 {
    letter-spacing: 2px;
    text-align-last: center;
    /* position:absolute; */
}

#how-we-do-it {
    margin: auto;
    padding: 2rem;
    align-content: center;
    justify-content: center;
    top: 210vh;
    width: 210vh;
    height: 90vh;
    background: linear-gradient(247.2deg, #e3e5fc 8.64%, #f7f8fc 52.48%, #efeeeb 86.51%);
    position: absolute;
}

.how-it-content{
    transform: translate(0%,-60%);
    margin-left: 10%;
}

.fade {
    transition: opacity 0.7s ease-in;
}

.fadeOut {
    opacity: 0;
}

.fadeIn {
    opacity: 1;
}

.how-it-container {
    position: absolute;
}

.title-how-it {
    font-size: 50px;
    letter-spacing: 2px;
    color: black;
}

.five-items {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5rem;
    width: 110%;
    position: relative;
    align-items: left;
}

.oneitem img {
    margin: auto;
    display: absolute;
    margin-top: 30px;
    align-items: left;
}

.oneitem h2 {
    text-align: left;
    letter-spacing: 2px;
    color: black
}

.oneitem p {
    text-align: left;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    color: black
}

#button3 {
    margin-top: 10px;
    border-radius: 50%;
    padding: 1rem 1rem;
    font-size: 1rem;
    border: 1px solid white;
    color: white;
    background: black;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    left:120%;
}