.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 1000;
    font-style: normal;
}

.jost-regualar {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}



/* regular declarations */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Julius Sans One", "Jost", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}



body {
    min-height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background: #000 !important;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

.full-wrapper {
    width: 100%;
}

.navbar {
    transition: all 0.5s;
}

.container-fluid {
    justify-content: space-between;
}

.nav-item {
    padding: 1%;
    left: 0;
}

.navbar-nav {
    margin: 0;
    justify-content: flex-end;
    width: 100%;
}

.navbar-brand a {
    margin: 0;
    width: 100%;
}

.navbar-logo {
    width: 12%;
    height: 12%;
    padding: .5%;
    display: inline-block;
}

.navbar span {
    width: 100%;
}

.smart-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

p {
    font-family: "Jost", sans-serif;
    font-size: 10px;
}

#lab-intro {
    display: grid;
    grid-template-columns: 50% 50%;
    width: auto;
    height: auto;
}

.right {
    display: flex;
    background-color: black;
}

.left {
    display: flex;
    background-color: black;
}

.myVideo {
    width: 100%;
}

.lab-name {
    color: white;
    padding: 2%;
    width: 50%;
    height: 40%;
    text-align: center;
    transform: translate(50%, 50%);
}

.lab-name h3 {
    font-size: 12px;
}

.lab-name h1 {
    font-size: 60px;
}

.lab-name h4 {
    font-family: "Jost", sans-serif;
    font-size: 16px;
}

.lab-name p {
    font-size: 14px;
}

#button1 {
    border-radius: 70px;
    padding: 1rem 2rem;
    font-size: 1rem;
    border: none;
    color: black;
    background: white;
    cursor: pointer;
    display: block;
    margin: auto;
    letter-spacing: 6px;

}


#what-we-study {
    width: 100%;
    height: auto;
    background: white;
    display: absolute;
}

.what-we-study-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-gap: auto;
    padding: 5%;
}

.study-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 0 !important;
    height: auto;
}

.study-content h1 {
    text-align: left;
    letter-spacing: 2px;
    font-size: 50px;
    margin-bottom: 50px;
}

.leftt {
    margin-left: 2%;
}

.leftt p {
    text-align: left;
    font-family: "Jost", sans-serif;
    line-height: 2rem;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 7%;
    margin-bottom: 2%;
}

.rightt {
    display: absolute;
}

.buttonbot {
    padding: 2%;
}

#button2 {
    border-radius: 50%;
    padding: 1rem 1rem;
    font-size: 1rem;
    border: 1px solid black;
    color: black;
    background: white;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
}

.tag {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 3s;
}

.tag.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.fadeInUp-animation {
    animation: 2.5s fadeInUp;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.fade {
    transition: opacity 0.7s ease-in;
}

.fadeOut {
    opacity: 0;
}

.fadeIn {
    opacity: 1;
}


#how-we-do-it {
    width: 100%;
    height: auto;
    background: black;
}


.how-it-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: auto;
    padding: 5%;
}

.how-it-content {
    display: block;
    padding: 1%;
}

.how-it-content h1 {
    color: white;
}

.five-items {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    align-items: left;
}

.oneitem {
    margin: auto;
    display: absolute;
    align-items: left;
    padding: 1.5%;
}

.oneitem h2 {
    text-align: left;
    letter-spacing: 2px;
    color: white
}

.oneitem p {
    text-align: left;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    color: black
}

.oneitem img {
    translate: 50%;
}

.pagebutton {
    padding: 2%;
}

.c {
    transform: translate(50%, 0%);
    width: 25%
}


.s {
    width: 45%;
    height: 35%;
}

.i {
    width: 35%;
    height: 40%;

}

.b {
    width: 50%;
    height: 35%;
}

.g {
    width: 45%;
    height: 33%;
}

#button3 {
    border-radius: 50%;
    padding: 1rem 1rem;
    font-size: 1rem;
    border: 1px solid white;
    color: white;
    background: black;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
}

.oneitem a {
    color: #000;
    display: grid;
    place-items: center;
}

@media screen and (max-width:500px) {
    .navbar-toggler {
        width: 10%;
    }

    .navbar-nav {
        text-align: right;
    }

    .nav-item {
        right: 100%;
    }

    .navbar-brand {
        width: 80%;
    }

    .navbar-toggler {
        display: inline-block;
    }

    .navbar span {
        width: 100%;
        font-size: 15px;
        align-items: center;
    }

    .navbar-logo {
        width: 15%;
        height: 15%;
    }


    #lab-intro {
        display: grid;
        grid-template-columns: 100%;
        width: auto;
        height: auto;
    }

    .lab-name {
        color: white;
        padding: 5%;
        width: 100%;
        height: 100%;
        text-align: center;
        transform: translate(0%, 0%);
    }

    .lab-name h3 {
        font-size: 10px;
    }

    .lab-name h1 {
        font-size: 30px;
    }

    .lab-name h4 {
        font-family: "Jost", sans-serif;
        font-size: 10px;
    }

    .lab-name p {
        font-size: 10px;
    }

    #button1 {
        border-radius: 50px;
        padding: 5px 10px;
        font-size: 12px;
        border: none;
        color: black;
        background: white;
        cursor: pointer;
        display: block;
        margin: auto;
        letter-spacing: 2px;

    }

    .myVideo {
        width: 100%;
    }

    .what-we-study-content {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: auto;
        padding: 5%;
    }

    .study-img img {
        max-width: 50%;
        max-height: 50%;
        object-fit: contain;
        margin: 0 !important;
        height: auto;
    }

    .oneitem img {
        translate: 0%;
    }

    .five-items {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        place-items: center;
    }

    .leftt {
        margin-left: 1%;
    }

    .leftt h1 {
        text-align: center;
        font-size: 25px;
    }

    .leftt p {
        text-align: center;
        font-size: 12px;
        line-height: 14px;
        translate: 5%;
    }

    .buttonbot {
        padding: 10%;
        display: grid;
        place-items: center;

    }

    .how-it-content h1 {
        color: white;
        text-align: center;
        font-size: 25px;
    }

    .pagebutton {
        padding: 10%;
        display: grid;
        place-items: center;
    }

    .oneitem {
        margin: auto;
        display: grid;
        place-items: center;
        padding: 1.5%;
    }

    .oneitem h2 {
        font-size: 18px;
    }

    .c{
        transform: translate(0%,0%);
        margin-bottom: 5%;;
    }

    .c img {
        width: 50%;
        height: 62%;
    }


    .s {
        width: 50%;
        height: 100%;
    }

    .i {
        width: 40%;
        height: 100%;

    }

    .in-vivo{
        font-size: 1px;
    }

    .b {
        width: 50%;
        height: 100%;
    }

    .g {
        width: 45%;
        height: 100%;
    }
}