.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 1000;
    font-style: normal;
}

.jost-regualar {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Julius Sans One", "Jost", sans-serif;
}

/* regular declarations */

body {
    min-height: 210vh;
    overflow-x: hidden;
}

.navbar {
    transition: all 0.5s;
}

.nav-item {
    padding: 1%;
    left: 0;
}

.navbar-nav {
    margin-left: 59%;
}

.navbar-brand {
    margin-left: 1%;
}

.navbar-logo {
    width: 100px;
    height: 100px;
    padding: .5%;
    margin-left: 2.5%;
}

.smart-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.img-container{
    text-align: center;
    height: 350px;
    width: 200%;
}

.building-pic2{
    height: 350px;
    width: 100%;
    object-fit: cover;
    z-index : -1;
    translate: -25%;
    filter: blur(5px);
}

.building-pic1{
    z-index: 1;
    height: 350px;
    width: 50%;
    object-fit:cover;
    transform: translate(-50%, -100%);
}

.fadeInUp-animation {
    animation: 1.5s fadeInUp;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.openings{
    font-family: "Julius Sans One", sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

.positions-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: auto;
    width: auto;
    text-align: center;
}

.grid-item h2{
    font-size: 20px;
}

.grid-item p{
    font-size: 16px;
    font-family: "Jost", sans-serif;
}

.grid-item {
    padding: 50px;
}

.icon-pics{
    border-radius: 50%;
    border: 1px solid #000;
    margin-bottom: 30px;
    width: 50%;
}

.interest{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

.block{
    line-height: 1.6;
    translate: 36%;
}

.contact{
    font-family: "Jost", sans-serif;
    display: block;
    font-size: 16px;
    margin-top:20px;
    text-align: center;
    width: 27%
}

.location{
    font-family: "Julius Sans One", sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    margin-top:30px;
}


@media screen and (max-width:1600px) {
    body {
        min-height: 210vh;
        overflow-x: hidden;
    }


    .navbar {
        transition: all 0.5s;
    }

    .nav-item {
        padding: 1%;
        left: 0;
    }

    .navbar-nav {
        margin-left: 44%;
    }

    .navbar-brand {
        margin-left: 1%;
    }

    .navbar-logo {
        width: 100px;
        height: 100px;
        padding: .5%;
        margin-left: 2.5%;
    }

    .smart-scroll {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .scrolled-down {
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out;
    }

    .scrolled-up {
        transform: translateY(0);
        transition: all 0.3s ease-in-out;
    }

    .p {
        font-family: "Jost", sans-serif;
        color: #000;
        font-size: 16px;
        float: right;
        margin-top: 15px;
    }

}

@media only screen and (max-width : 375px) and (max-height : 812px) and (-webkit-device-pixel-ratio : 3) {

  
}

@media only screen and (max-width: 768px) {

    .navbar {
        transition: all 0.5s;
    }

    .nav-item {
        padding: 1%;
        left: 0;
    }

    .navbar-nav {
        margin-left: 44%;
    }

    .navbar-brand {
        margin-left: 1%;
    }

    .navbar-logo {
        width: 100px;
        height: 100px;
        padding: .5%;
        margin-left: 2.5%;
    }

    .smart-scroll {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .scrolled-down {
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out;
    }

    .scrolled-up {
        transform: translateY(0);
        transition: all 0.3s ease-in-out;
    }

    .p {
        font-family: "Jost", sans-serif;
        color: #000;
        font-size: 16px;
        float: right;
        margin-top: 15px;
    }


}