.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 1000;
    font-style: normal;
}

.jost-regualar {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}


/* regular declarations */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Julius Sans One", "Jost", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    min-height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background: white !important;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

.full-wrapper {
    width: 100%;
}

.navbar {
    transition: all 0.5s;
}

.container-fluid {
    justify-content: space-between;
}

.nav-item {
    padding: 1%;
    left: 0;
}

.navbar-nav {
    margin: 0;
    justify-content: flex-end;
    width: 100%;
}

.navbar-brand a {
    margin: 0;
    width: 100%;
}

.navbar-logo {
    width: 12%;
    height: 12%;
    padding: .5%;
    display: inline-block;
}

.navbar span {
    width: 100%;
}

.smart-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.fadeInUp-animation {
    animation: 1.5s fadeInUp;
}

p {
    font-family: "Jost", sans-serif;
}

.background {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: auto;
    width: auto;
}

.right {
    display: absolute;
}

.left {
    display: flex;
}

.picture {
    display: grid;
    place-items: center;
}

.blurb {
    background-color: #eae7e7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: auto;
    width: 100%;
    height: auto;
    display: absolute;
}

.blurb-content {
    padding: 2%;
    width: 50%;
    height: auto;
    text-align: center;
    transform: translate(50%, 0);
}

@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media screen and (max-width:500px){
    .navbar-toggler{
        width: 10%;
    }
    
    .img-container {
        text-align: center;
        height: 250px;
        width: 100%;
    } 

    .header1 {
        height: 250px;
        width: 150%;
        object-fit:fill;
        z-index: -1;
        translate: 0;
        filter: blur(5px);
    }

    .navbar-nav{
        text-align: right;
    }

    .nav-item{
        right: 100%;

    }

    .navbar-brand{
        width: 80%;
    }

    .navbar-toggler {
        display: inline-block;
    }

    .navbar span {
        width: 100%;
        font-size: 15px;
        align-items: center;
    }

    .navbar-logo{
        width: 15%;
        height:15%;
        display:inline-block;

    }

    .background {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        grid-gap: auto;
        width: auto;
        margin-bottom: 12%;
    }

    .right{
        margin-left: 20px;
        width: 90%;
        margin-top: 8%;
    }

    .blurb-content p{
        font-size: 15px;
    }

}
