.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 1000;
    font-style: normal;
}

.jost-regualar {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}


/* regular declarations */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Julius Sans One", "Jost", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}



body {
    min-height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background: #fff !important;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

.full-wrapper {
    width: 100%;
}

.navbar {
    transition: all 0.5s;
}

.container-fluid {
    justify-content: space-between;
}

.nav-item {
    padding: 1%;
    left: 0;
}

.navbar-nav {
    margin: 0;
    justify-content: flex-end;
    width: 100%;
}

.navbar-brand a {
    margin: 0;
    width: 100%;
}

.navbar-logo {
    width: 12%;
    height: 12%;
    padding: .5%;
    display: inline-block;
}

.navbar span {
    width: 100%;
}

.smart-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.pub-page-title {
    font-family: "Julius Sans One", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.fadeInUp-animation {
    animation: 1.5s fadeInUp;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

hr {
    height: 2px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 10%;
    text-align-last: center;
    transform: translate(450%, 0);
    background-color: rgb(120, 118, 118);
    border: none;
}

.page-sections h2 {
    margin: 0;
    padding: 0;
    font-family: "Julius Sans One", sans-serif;
    font-size: 30px;
    text-align: left;
}

section {
    height: auto;
    padding: 1%;
}

.tag {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

.page-sections .tag.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.twenty24 {
    background: rgb(199, 199, 199);
}

.twenty24 a {
    color: black;
}

.page-sections h2 {
    margin-left: 5rem;
    margin-top: 30px;

}

.twenty24 .twenty24-list {
    font-family: "Jost", sans-serif;
    margin-top: 30px;
    margin-left: 5rem;
    font-size: 20px;
    margin-right: 10rem;
}

.twenty24 p {
    font-family: "Jost", sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 5rem;
    color: black;
}

.twenty22 .twenty22-list {
    margin-top: 30px;
    margin-left: 5rem;
    font-size: 20px;
    margin-right: 10rem;
    color: white;
}

.twenty22 h2 {
    color: white;
}

.twenty20 h2 {
    color: white;
}

.twenty17-and-earlier h2 {
    color: white;
}

.twenty22 a {
    color: white;
}

.paper {
    text-decoration: none;
    transition: all .1s ease-in-out;
}

a.paper:hover {
    font-size: 101%;
    text-decoration: none;
    color: inherit;
}

.ext {
    width: 1%;
    display: inline-block;
}

.twenty21 a {
    color: black;
}

.twenty20 a {
    color: white;
}

.twenty19 a {
    color: black;
}

.twenty17-and-earlier a {
    color: white;
}

.twenty22 p {
    font-family: "Jost", sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 5rem;
    color: white;
}

.twenty21 .twenty21-list {
    font-family: "Jost", sans-serif;
    margin-top: 30px;
    margin-left: 5rem;
    font-size: 20px;
    margin-right: 10rem;
}

.twenty21 p {
    font-family: "Jost", sans-serif;
    font-size: 15px;
    margin-top: 20px;
    color: black;
}

.twenty20 .twenty20-list {
    margin-top: 30px;
    margin-left: 5rem;
    font-size: 20px;
    margin-right: 10rem;
}

.twenty20 p {
    font-family: "Jost", sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 5rem;
    color: white;
}

.twenty19 .twenty19-list {
    margin-top: 30px;
    margin-left: 5rem;
    font-size: 20px;
    margin-right: 10rem;
}

.twenty19 p {
    font-family: "Jost", sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 5rem;
    color: black;
}

.twenty17-and-earlier p {
    font-family: "Jost", sans-serif;
    font-size: 15px;
    margin-top: 20px;
    color: white;
}

.twenty17-and-earlier .twenty17-list {
    margin-top: 30px;
    margin-left: 5rem;
    font-size: 20px;
    margin-right: 10rem;
}

.twenty22 {
    background: black;
}

.twenty21 {
    background: rgb(199, 199, 199);
}

.twenty20 {
    background: black;
}

.twenty19 {
    background: rgb(199, 199, 199);
}

.twenty17-and-earlier {
    background: black;
    height: auto;
}

@media screen and (max-width: 500px) {

    .navbar-toggler{
        width: 10%;
    }

    .navbar-nav{
        text-align: right;
    }

    .nav-item{
        right: 100%;
    }

    .navbar-brand{
        width: 80%;
    }

    .navbar-toggler {
        display: inline-block;
    }

    .navbar span {
        width: 100%;
        font-size: 15px;
        align-items: center;
    }

    .navbar-logo{
        width: 15%;
        height:15%;
    }

    .page-sections h2 {
        margin-left: 2rem;
        margin-top: 30px;
    
    }

    .paper{
        width: 100%;
    }

    .ext{
        width: 5%;
    }

    .twenty24 .twenty24-list {
        font-family: "Jost", sans-serif;
        margin-top: 30px;
        margin-left: 2rem;
        font-size: 14px;
        margin-right: 10rem;
        width: 85%;
    }
    
    .twenty24 p {
        font-family: "Jost", sans-serif;
        font-size: 11px;
        margin-top: 20px;
        margin-left: 2rem;
        color: black;
    }

    .twenty22 .twenty22-list {
        font-family: "Jost", sans-serif;
        margin-top: 30px;
        margin-left: 2rem;
        font-size: 14px;
        margin-right: 10rem;
        width: 85%;
    }
    
    .twenty22 p {
        font-family: "Jost", sans-serif;
        font-size: 11px;
        margin-top: 20px;
        margin-left: 2rem;
        color: white;
    }

    .twenty21 .twenty21-list {
        font-family: "Jost", sans-serif;
        margin-top: 30px;
        margin-left: 2rem;
        font-size: 14px;
        margin-right: 10rem;
        width: 85%;
    }
    
    .twenty21 p {
        font-family: "Jost", sans-serif;
        font-size: 11px;
        margin-top: 20px;
        color: black;
    }


    .twenty20 .twenty20-list {
        font-family: "Jost", sans-serif;
        margin-top: 30px;
        margin-left: 2rem;
        font-size: 14px;
        margin-right: 10rem;
        width: 85%;
    }
    
    .twenty20 p {
        font-family: "Jost", sans-serif;
        font-size: 11px;
        margin-top: 20px;
        margin-left: 2rem;
        color: white;
    }

    .twenty19 .twenty19-list {
        font-family: "Jost", sans-serif;
        margin-top: 30px;
        margin-left: 2rem;
        font-size: 14px;
        margin-right: 10rem;
        width: 85%;
    }
    
    .twenty19 p {
        font-family: "Jost", sans-serif;
        font-size: 11px;
        margin-top: 20px;
        margin-left: 2rem;
        color: black;
    }

    .twenty17-and-earlier p {
        font-family: "Jost", sans-serif;
        font-size: 11px;
        margin-top: 20px;
        color: white;
    }
    
    .twenty17-and-earlier .twenty17-list {
        margin-top: 30px;
        margin-left: 2rem;
        font-size: 14px;
        margin-right: 10rem;
        width: 85%;
    }
}