.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.jost-regualar {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: "Julius Sans One", "Jost", sans-serif;
}

.dropbtn{
    background-color: #BACDF2;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown:hover .dropbtn {
    background: rgb(86, 118, 176);
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #BACDF2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
}

.dropdown-content a:hover{
    color: #fff;
}

.dropdown:hover .dropdown-content{
    display:block;
}


.navbar{
    height: 80px;
    background: #BACDF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.logo{
    color: #000;
    font-size: 3rem;
    font-weight: normal;
    font-style: normal;
    margin-right: 80px;
}

.navbar a{
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
}

.navbar a:hover{
    color: #fff;
}

.navbarb{
    height: 80px;
    bottom: 0;
    background: #BACDF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 3rem;
}

.navbarb a{
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
}

.navbarb a:hover{
    color: #fff;
}

.pub-page-title{
    font-family: "Julius Sans One", sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.page-sections h1{
    margin: 0;
    padding: 0;
}

hr {
    height: 2px; 
    margin: auto;
    width: 25%;
    text-align: center;
    background-color: rgb(61, 60, 60); 
    border: none; 
}

.page-sections h1{
    font-family: "Julius Sans One", sans-serif;
    font-size: 45px;
    text-align: left; 
}
section{
    height: 70vh;
}
.tag{
    opacity: 0;
    transform: translate(0,10vh);
    transition: all 1s;
}
.page-sections .tag.visible{
    opacity: 1;
    transform: translate(0,0);
}
.twenty24{
    background-color: #F0FFFF;
}
.page-sections h1{
    margin-left: 10rem;
    margin-top: 30px;

}
.twenty24 .twenty24-list{
    margin-top: 30px;
    margin-left: 10rem;
    font-size: 35px;
    margin-right: 10rem;
}
.twenty24 p{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 10rem;
}
.twenty22 .twenty22-list{
    margin-top: 30px;
    margin-left: 10rem;
    font-size: 35px;
    margin-right: 10rem;
}
.twenty22 p{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 10rem;
}
.twenty21 .twenty21-list{
    margin-top: 30px;
    margin-left: 10rem;
    font-size: 35px;
    margin-right: 10rem;
}
.twenty21 p{
    font-size: 15px;
    margin-top: 20px;
}
.twenty20 .twenty20-list{
    margin-top: 30px;
    margin-left: 10rem;
    font-size: 35px;
    margin-right: 10rem;
}
.twenty20 p{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 10rem;
}
.twenty19 .twenty19-list{
    margin-top: 30px;
    margin-left: 10rem;
    font-size: 35px;
    margin-right: 10rem;
}
.twenty19 p{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 10rem;
}
.twenty17-and-earlier p{
    font-size: 15px;
    margin-top: 20px;
}
.twenty17-and-earlier .twenty17-list{
    margin-top: 30px;
    margin-left: 10rem;
    font-size: 35px;
    margin-right: 10rem;
}
.twenty22{
    background-color: #ADD8E6;
}
.twenty21{
    background-color: #7393B3;
}
.twenty20{
    background-color: #4682B4;
}
.twenty19{
    background-color: #6082B6;
}
.twenty17-and-earlier{
    background-color: #F0FFFF;
    height: 175vh;
}