.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 1000;
    font-style: normal;
}

.jost-regualar {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}


/* regular declarations */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Julius Sans One", "Jost", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    min-height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background: black !important;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

.full-wrapper {
    width: 100%;
}

.navbar {
    transition: all 0.5s;
}

.navbar-collapse{
    background: black;
}

.container-fluid {
    justify-content: space-between;
}

.nav-item {
    padding: 1%;
    left: 0;
}

.navbar-nav {
    margin: 0;
    justify-content: flex-end;
    width: 100%;
}

.navbar-brand a {
    margin: 0;
    width: 100%;
}

.navbar-logo {
    width: 12%;
    height: 12%;
    padding: .5%;
    display: inline-block;
}

.navbar span {
    width: 100%;
}

.smart-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.container{
    height: auto;
}

.p {
    font-family: "Jost", sans-serif;
    color: #000;
    font-size: 16px;
    float: right;
    margin-top: 15px;
}

.img-container {
    text-align: center;
    height: 550px;
    width: 200%;
}

/* .header1 {
    height: 550px;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    translate: -25%;
    filter: blur(5px);
} */

.ongoing-research {
    background: #fff;
    z-index: 1;
    padding: 2%;
}

.ongoing-research h1 {
    margin-left: 30px;
}

.ongoing-research p {
    margin-left: 35px;
    margin-right: 35px;
    font-family: "Jost", sans-serif;
}

.ongoing-research li {
    margin-left: 30px;
}

.topic {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: #cecbcb;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.topic .left {
    display: absolute;
}

.topic .right {
    margin-top: 10%;
    display: absolute;
}

.gif {
    width: 100%;
    height: auto;
}
.gif2{
    width:100%;
    Height:auto;
}
.picc{
    width: 100%;
    height:auto;
}

.topic h2 {
    margin-left: 30px;
}

.topic p {
    margin-bottom: 30px;
}

.fadeInUp-animation {
    animation: 1.5s fadeInUp;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}


@media screen and (max-width: 500px){

    .navbar-toggler{
        width: 10%;
    }
    
    .img-container {
        text-align: center;
        height: 250px;
        width: 100%;
    } 

    .header1 {
        height: 250px;
        width: 150%;
        object-fit:fill;
        z-index: -1;
        translate: 0;
        filter: blur(5px);
    }

    .navbar-nav{
        text-align: right;
    }

    .nav-item{
        right: 100%;

    }

    .navbar-brand{
        width: 80%;
    }

    .navbar-toggler {
        display: inline-block;
    }

    .navbar span {
        width: 100%;
        font-size: 15px;
        align-items: center;
    }

    .navbar-logo{
        width: 15%;
        height:15%;
    }

    .ongoing-research {
        background: #fff;
        z-index: 1;
        padding: 0.5%;
    }

    .ongoing-research h1 {
        margin-left: 20px;
    }

    
    .topic h2 {
        margin-left: 10px;
        margin-right: 15px;
        font-size: 14px;
    }
    
    .topic p {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
        font-size: 11px;
        line-height: 90%;
    }

}
